/* ==================--------------- COLORS ---------------================== */
$primaryColor: rgb(55, 57, 66);
$secondaryColor: #02b3e4;
$secondaryColorAlt: rgba(2, 136, 219, 1);
$success: #11c177;
$fail: #ff363f;
$lightestColor: white;
$shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
$fog: rgba(0, 0, 0, .7);

/* ==================--------------- WHITE SPACES ---------------================== */
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 32px;
$space-xl: 64px;

/* ==================--------------- MEDIA QUERIES ---------------================== */
$mobile: "max-width: 768px";
$tablet: "min-width: 769px";
$desktop: "min-width: 1024px";
